<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p>Categories:
  <ul>
    <% @post.categories.each do |c| %>
      <li><%= c.name %></li>
    <% end %>
  </ul>
</p>
<br><br>

<h3>COMMENTS </h3>
  <ul>
    <li><% @post.comments.each do |c| %></li>
  </ul>
